@model WebApp.Models.HashViewModel

@{
    ViewData["Title"] = "Hash";
}

<h1>Hash Creator</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Hash">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <br />

            <div class="form-group">
                <label asp-for="Salt" class="control-label"></label>
                <input asp-for="Salt" class="form-control" />
                <span asp-validation-for="Salt" class="text-danger"></span>
            </div>
            
            <br />

            <div class="form-group">
                <input type="submit" value="Create Hash" class="btn btn-primary" />
            </div>
        </form>

        <br />

        <div>
            Hash:<br />

            <span>
                @ViewBag.Hash
            </span>
        </div>
    </div>
</div>

